# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Coverage
coverage/

# Environment variables
.env*
!.env.example

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/launch.json
.idea/

# Large archives and backups
*.zip
*.tar.gz
